@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
    background-image: url(Image/Pantai.JPG);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*Navbar*/
nav{
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: #fff;
}

.nav{
    margin: 0 45%;
    line-height: 80px;
    font-size: 40px;
}

.nav a{
    color: rgb(90, 85, 85);
}

@media screen and (max-width: 768px){
    nav{
        height: 75px;
        width: 100%;
    }
    .nav{
        font-size: 40px;
        line-height: 75px;
        margin: 0 36%;
    }
}

@media screen and (max-width: 576px){
    nav{
        height: 60px;
        width: 100%;
    }
    .nav{
        font-size: 40px;
        line-height: 60px;
        margin: 0 36%;
    }
}